.mission-container {
  margin-top: 30px;

  .titles {
    display: grid;
    grid: auto / 200px auto 180px 180px;
    margin-left: 30px;
  }

  .mission-item{
    display: grid;
    grid: auto / 200px auto 180px 180px;

  }

  .mission-name,
  .mission-badge-container,
  .mission-action-container,
  .mission-description {
    margin: 10px;
  }

  .mission-action-container,
  .mission-badge-container {
    display: flex;
    align-items: center;
    height: 100%;

    .active-member-badge {
      background-color: #18A2B8;
      padding: 0 10px 0 10px;
      border-radius: 10px;
      color: #fff;
    }
    
    .not-a-member-badge {
      background-color: #6D757D;
      padding: 0 10px 0 10px;
      border-radius: 10px;
      color: #fff;
    }

    .join-mission-button {
      border: 2px solid #343A40;
      background-color: #FFFFFF;
      padding: 8px;
      border-radius: 10px;
    }

    .leave-mission-button {
      border: 2px solid #DC3645;
      color: #DC3645;
      padding: 8px;
      background-color: #FFFFFF;
      border-radius: 10px;
    }

  }


  ul {
    li:nth-child(odd) {
      background-color: #F2F2F2;
    }
  }

  .border-container {
    border: 2.5px solid #DEE2E6;
  }

  
  
}